<header>

<div class="topnav" id="myTopnav">
  <div>
  <a href="/" >Home</a>
  <a href="/pricing">Pricing</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
    <a href="/products">Products</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  </div>
  <div class="login-signupdiv">
    <a href="/login">Login</a>
    <a href ="/signup">Sign up</a>
  </div>

</div>


</header>
